<!DOCTYPE html>
<html>
  <head>
    {{! Document Settings }}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{! Page Meta }}
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />

    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="shortcut icon" href="{{asset "favicon.ico"}}">

    {{! Styles'n'Scripts }}
    <link href="{{asset 'css/styles.css'}}" type="text/css" rel="stylesheet" />
    <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:600|Roboto+Slab:400,700' rel='stylesheet' type='text/css' />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" />

    {{! Ghost outputs important style and meta data with this tag }}
    {{ghost_head}}
  </head>

  <body>
    <div class="container">
      <div class="sidebar js-sidebar">
        <div class="branding">
          <img src="{{asset 'images/ava.png'}}" />
          <h1>{{@blog.title}}</h1>
          <p>{{@blog.description}}</p>
        </div>

        <ul class="menu">
          <li>
            <h3><a class="about" href="/">About me</a></h3>
          </li>

          <li>
            <h3><a class="writings" href="/">Writings</a></h3>
          </li>

          <li>
            <h3><a class="contact" href="/">Contact</a></h3>
          </li>
        </ul>
      </div>

      {{{body}}}
    </div>

    <footer>
      <div class="wrapper">
        <p class="copyright">(C) 2017 Lodybo, all rights reserved.</p>
        <p>
          <a href="lodybo.nl">Wanna know more about me?</a>
        </p>
      </div>
    </footer>
    <script type="text/javascript" src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <script type="text/javascript" src="{{asset 'js/scripts.min.js'}}"></script>
    {{ghost_foot}}
  </body>
</html>