{{!< default}}
{{#foreach posts}}
  <div class="post article">
    <h1 class="post-title">
      <a href="{{url}}">{{title}}</a>
    </h1>
    
    <ul class="post-meta">
      <li class="date">Published on {{date format="MMMM DD, YYYY"}}</li>
      <li class="permalink"><a href="{{url}}">Permalink</a></li>
      <li class="category">{{tags separator=", "}}</li>
    </ul>

    <p>
      {{excerpt}}
      <a href="{{url}}">Read more...</a>
    </p>
  </default>
{{/foreach}}